faiss-cpu

pdfplumber 

langchain-core
langchain>=0.2.10
langchain-community>=0.2.10
langchain_text_splitters
langchain-huggingface

unstructured

unstructured[all-docs]
fastembed
pikepdf
elevenlabs

fastapi
uvicorn
python-dotenv
together
