faiss-cpu

ollama
pdfplumber 

langchain
langchain-core
langchain-community
langchain_text_splitters
langchain-ollama
langchain-huggingface

unstructured

unstructured[all-docs]
fastembed
pikepdf
sentence-transformers
elevenlabs

fastapi
uvicorn
python-dotenv
